# Ejercicios Pandas Series

1. Escribe un programa Pandas para cambiar el tipo de datos de una columna o serie dada.
Para cambiar el tipo de datos de una columna o serie en pandas, puedes usar el método pd.to_numeric(), que intenta convertir los valores a un tipo numérico, y maneja los valores no convertibles como NaN.

```
Serie de muestra:
    Serie de datos originales:
0       100
1       200
2    python
3    300.12
4       400
dtype: objeto
Cambio a numérico:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
tipo: float64
```

In [2]:
import pandas as pd

#craear serie de daos original
serie = pd.Series([100, 200, 'pyhon', 300.12, 400])

#Mostrar serie original
print("serie de datos originales")
print(serie)

#convertir serie a numerica
serie_convertida = pd.to_numeric(serie, errors='coerce') #genera un valor invalido para Python

#mostrar serie convertida
print("\nCambio a numerico:")
print(serie_convertida)
print("\ntipo:", serie_convertida.dtype)

#Serie original: Se crea una serie con valores mixtos (números enteros, un string y un número decimal).
#pd.to_numeric(): Se utiliza este método para intentar convertir los valores de la serie a un tipo numérico (float64 en este caso). Los valores que no puedan ser convertidos (como el texto "python") se reemplazarán con NaN (valor nulo).
#errors='coerce': Este argumento asegura que cualquier valor que no se pueda convertir a número sea reemplazado por NaN.

serie de datos originales
0       100
1       200
2     pyhon
3    300.12
4       400
dtype: object

Cambio a numerico:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

tipo: float64

2. Escribe un programa Pandas para convertir series de listas en una serie. 
Para convertir una serie de listas en una serie de elementos individuales en pandas, puedes usar el método explode(). Este método "expande" las listas en las celdas de la serie y crea una nueva fila para cada elemento de la lista.

```
Ejemplo de salida:
Serie original de listas
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: objeto
Una serie:
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: objeto
```

In [3]:
#crear la serie original con listas
serie = pd.Series([['Red', 'Green', 'White'], ['Red', 'Black'], ['Yellow']])

#mostrar la serie original
print("Serie original de listas:")
print(serie)

#convertir la serie de listas en una serie de elementos individuales
serie_exploded = serie.explode()

#mostrar la serie después de la conversión
print("\nUna serie:")
print (serie_exploded)

#Serie original: Se crea una serie donde cada elemento es una lista (en este caso de colores).
#explode(): Este método toma cada lista dentro de la serie y la "explota", es decir, cada valor dentro de la lista se coloca en una nueva fila, resultando en una serie de elementos individuales.
#El resultado es una serie donde cada fila contiene un único elemento de la lista original.

Serie original de listas:
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

Una serie:
0       Red
0     Green
0     White
1       Red
1     Black
2    Yellow
dtype: object

In [4]:
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']      
])
s
s.apply(pd.Series).stack().reset_index(drop=True)
#Strack: coge cada uno de los elementos y los apila. Reset index, elimnina los indices anteriores y los reemplaza por un nuevo indice. Drop=True, elimina el indice anterior.

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

3. Escribe un programa Pandas para agregar algunos datos a una serie existente.

```
Ejemplo de salida:
Serie de datos originales:
0       100
1       200
2    python
3    300.12
4       400
dtype: objeto

Serie de datos después de agregar algunos datos:
0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: objeto
```

In [5]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print(s)
s2 = pd.Series(['500', 'php'])
result = pd.concat([s, s2], ignore_index=True) #resetar los indices cuando se unen las dos series
print(result)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

4. Escribe un programa Pandas para crear otra serie con un subconjunto de datos según un valor y una condición dada.

```
Ejemplo de salida:
Serie de datos originales:
0      0
1      1
2      2

....

9      9
10    10
tipo: int64

Subconjunto de la serie de datos anterior:
0    0
1    1
2    2
3    3
4    4
5    5
tipo: int64
```

In [6]:
s = pd.Series(list(range(11)))
print(s)

s[s<=5]

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

5. Escribe un programa Pandas para cambiar el orden del índice de una serie dada.

```
Ejemplo de salida:
Serie de datos originales:
A    1
B    2
C    3
D    4
E    5
tipo: int64

Serie de datos después de cambiar el orden del índice:
B    2
A    1
C    3
D    4
E    5
tipo: int64
```

In [7]:
#pd.Series({'A':1, 'B':2, 'C':3, 'D':4, 'E':5})
s = pd.Series(data = [1, 2, 3, 4, 5], index = ['A', 'B', 'C', 'D', 'E'])
print(s)
s.reindex(['B', 'A', 'C', 'D', 'E'])

A    1
B    2
C    3
D    4
E    5
dtype: int64

B    2
A    1
C    3
D    4
E    5
dtype: int64

6. Escribe un programa Pandas para obtener los elementos de una serie dada que no están presentes en otra serie dada.

```
Ejemplo de salida:  
Serie original:
sr1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
sr2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Elementos de sr1 no presentes en sr2:
0    1
2    3
4    5
tipo: int64
```

In [8]:
sr1= pd.Series([1, 2, 3, 4, 5])
sr2= pd.Series([2, 4, 6, 8, 10])
print(sr1)
print(sr2)

mask = sr1.isin(sr2)
print(mask)
mask =

SyntaxError: invalid syntax (2500995805.py, line 8)

7. Escribe un programa Pandas para calcular el mínimo, el percentil 25, la mediana, el percentil 75 y el máximo de una serie dada.

```
Ejemplo de salida:
Serie original:
Original Series:
0      3.000938
1     11.370722
2     14.612143

....

17    14.118931
18     8.247458
19     5.526727
tipo: float64

Mínimo, percentil 25, mediana, 75 y máximo de una serie dada:
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]
```

8. Escribe un programa Pandas para calcular los conteos de frecuencia de cada valor único de una serie dada.

```
Ejemplo de salida:
Serie original:
0     1
1     7
2     1
3     6

...


37    0
38    4
39    8
dtype: objeto
Frecuencia de cada valor único de dicha serie.
0    9
2    7
9    6
....
3    2
4    1
5    1
tipo: int64
```

9. Escribe un programa Pandas para mostrar el valor más frecuente en una serie dada y reemplazar todo lo demás con el valor 'Otro'.

```
Ejemplo de salida:
Serie original:
0     3
1     1
2     1
3     3
...
12    2
13    3
14    3
dtype: int64

frecuencias principales: 
2    6
3    5
1    4
tipo: int64

0     Otro
1     Otro
2     Otro
3     Otro
...
11        2
12        2
13    Otro
14    Otro
dtype: objeto
```

**Tip**: usar isin (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isin.html)

In [25]:
#generamos un conjunto de numeros y luego queremos obtener las frecuencias de esos numeros que aparecen. Y luego haremos el reemplazo
import numpy as np

nums = np.random.randint(1, 5, [15])
s = pd.Series(nums)
print(s)
conteo = s.value_counts()
print(conteo)
print (conteo.index)
s.isin([conteo.index[0]]) 
mask = ~s.isin([conteo.index[0]])
s[mask] = 'otro'
s

0     4
1     2
2     3
3     4
4     3
5     2
6     2
7     3
8     4
9     1
10    2
11    1
12    1
13    2
14    4
dtype: int64
2    5
4    4
3    3
1    3
dtype: int64
Int64Index([2, 4, 3, 1], dtype='int64')

0     otro
1        2
2     otro
3     otro
4     otro
5        2
6        2
7     otro
8     otro
9     otro
10       2
11    otro
12    otro
13       2
14    otro
dtype: object

10. Escribe un programa Pandas para obtener las posiciones de los elementos de una serie dada en otra serie dada.

```
Ejemplo de salida:  
Serie original:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
tipo: int64
0     1
1     3
2     5
3     7
4    10
tipo: int64
Posiciones de los elementos de la serie 2 en la serie 1:
[0, 2, 4, 6, 9]
```

In [3]:
s5=pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

posiciones = [0, 2, 4, 6, 9]
serie_de_s5=s5.iloc[posiciones]
print(serie_de_s5)

0     1
2     3
4     5
6     7
9    10
dtype: int64

In [2]:
import pandas as pd

# Serie original
serie1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
serie2 = pd.Series([1, 3, 5, 7, 10])

# Encontrar las posiciones de los elementos de la serie2 en la serie1
posiciones = [serie1[serie1 == val].index[0] for val in serie2]

# Mostrar los resultados
print("Serie original:")
print(serie1)

print("\nSerie 2:")
print(serie2)

print("\nPosiciones de los elementos de la serie 2 en la serie 1:")
print(posiciones)

Serie original:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Serie 2:
0     1
1     3
2     5
3     7
4    10
dtype: int64

Posiciones de los elementos de la serie 2 en la serie 1:
[0, 2, 4, 6, 9]

11. Escribe un programa Pandas que convierta el primer y el último carácter de cada palabra a mayúsculas en cada palabra de una serie dada.

```
Ejemplo de salida:
Serie original:
0       php
1    python
2      java
3        c#
dtype: objeto

Primer y último carácter de cada palabra en mayúscula:
0       PhP
1    PythoN
2      JavA
3        C#
dtype: objeto
```

In [9]:
s6 = pd.Series(['php', 'python', 'java', 'c#'])
print(s6)

result = s6.apply(lambda x: x[0].upper() + x[1:-1] + x[-1].upper())

print(result)

0       php
1    python
2      java
3        c#
dtype: object
0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

12. Escribe un programa Pandas para calcular la diferencia de diferencias entre números consecutivos de una serie dada.

```
Ejemplo de salida:
Serie original:
0     1
1     3
2     5
3     8
4    10
5    11
6    15
tipo: int64

Diferencia de diferencias entre números consecutivos de la serie:
[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]
```

In [20]:
s7= pd.Series([1, 2, 3, 5, 8, 10, 11, 15])
diferencias = s7.diff()

diferencias_diferencias = diferencias.diff()
print(diferencias_diferencias)

0    NaN
1    NaN
2    0.0
3    1.0
4    1.0
5   -1.0
6   -1.0
7    3.0
dtype: float64