# Ejercicios Pandas DataFrames 02

Carga el dataset de vuelos "flights14.csv"

In [38]:
import pandas as pd

df = pd.read_csv('./flights14.csv')
df.head()

,Unnamed: 0,year,month,day,dep_delay,arr_delay,carrier,origin,dest,air_time,distance,hour
0,1,2014,1,1,14,13,AA,JFK,LAX,359,2475,9
1,2,2014,1,1,-3,13,AA,JFK,LAX,363,2475,11
2,3,2014,1,1,2,9,AA,JFK,LAX,351,2475,19
3,4,2014,1,1,-8,-26,AA,LGA,PBI,157,1035,7
4,5,2014,1,1,2,1,AA,JFK,LAX,350,2475,13

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253316 entries, 0 to 253315
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  253316 non-null  int64
 1   year        253316 non-null  int64
 2   month       253316 non-null  int64
 3   day         253316 non-null  int64
 4   dep_delay   253316 non-null  int64
 5   arr_delay   253316 non-null  int64
 6   carrier     253316 non-null  object
 7   origin      253316 non-null  object
 8   dest        253316 non-null  object
 9   air_time    253316 non-null  int64
 10  distance    253316 non-null  int64
 11  hour        253316 non-null  int64
dtypes: int64(9), object(3)
memory usage: 23.2+ MB

1. escribe un programa Pandas para dividir los datos basados en origen u destino. Muestra cada grupo y el número de elementos por grupo

In [40]:
gdf = df.groupby(['origin', 'dest'])

for g,vals in gdf.groups.items():
    print(g, len(vals))

('EWR', 'ALB') 169
('EWR', 'ANC') 13
('EWR', 'ATL') 4182
('EWR', 'AUS') 568
('EWR', 'AVL') 145
('EWR', 'AVP') 1
('EWR', 'BDL') 210
('EWR', 'BNA') 1797
('EWR', 'BOS') 4268
('EWR', 'BQN') 251
('EWR', 'BTV') 300
('EWR', 'BUF') 334
('EWR', 'BWI') 185
('EWR', 'BZN') 51
('EWR', 'CAE') 21
('EWR', 'CHS') 986
('EWR', 'CLE') 1171
('EWR', 'CLT') 3921
('EWR', 'CMH') 763
('EWR', 'CVG') 1187
('EWR', 'DAY') 566
('EWR', 'DCA') 1309
('EWR', 'DEN') 2243
('EWR', 'DFW') 2224
('EWR', 'DSM') 179
('EWR', 'DTW') 2149
('EWR', 'EGE') 80
('EWR', 'FLL') 2909
('EWR', 'GRR') 490
('EWR', 'GSO') 644
('EWR', 'GSP') 518
('EWR', 'HDN') 13
('EWR', 'HNL') 301
('EWR', 'HOU') 784
('EWR', 'IAD') 629
('EWR', 'IAH') 3073
('EWR', 'IND') 1239
('EWR', 'JAC') 19
('EWR', 'JAX') 998
('EWR', 'LAS') 1555
('EWR', 'LAX') 4226
('EWR', 'MCI') 995
('EWR', 'MCO') 4164
('EWR', 'MDT') 5
('EWR', 'MDW') 1537
('EWR', 'MEM') 660
('EWR', 'MHT') 324
('EWR', 'MIA') 2094
('EWR', 'MKE') 676
('EWR', 'MSN') 280
('EWR', 'MSP') 1485
('EWR', 'MSY') 982
('EWR', 'MTJ') 12
('EWR', 'OKC') 223
('EWR', 'OMA') 544
('EWR', 'ORD') 3272
('EWR', 'ORF') 211
('EWR', 'PBI') 1874
('EWR', 'PDX') 418
('EWR', 'PHL') 7
('EWR', 'PHX') 2002
('EWR', 'PIT') 353
('EWR', 'PVD') 169
('EWR', 'PWM') 392
('EWR', 'RDU') 741
('EWR', 'RIC') 1183
('EWR', 'ROC') 504
('EWR', 'RSW') 1160
('EWR', 'SAN') 884
('EWR', 'SAT') 205
('EWR', 'SAV') 557
('EWR', 'SBN') 6
('EWR', 'SDF') 529
('EWR', 'SEA') 1364
('EWR', 'SFO') 4539
('EWR', 'SJU') 949
('EWR', 'SLC') 285
('EWR', 'SNA') 657
('EWR', 'STL') 1740
('EWR', 'STT') 174
('EWR', 'SYR') 86
('EWR', 'TPA') 1833
('EWR', 'TUL') 201
('EWR', 'TVC') 20
('EWR', 'TYS') 238
('EWR', 'XNA') 195
('JFK', 'ABQ') 278
('JFK', 'ACK') 277
('JFK', 'ATL') 1701
('JFK', 'AUS') 1370
('JFK', 'BNA') 284
('JFK', 'BOS') 4111
('JFK', 'BQN') 535
('JFK', 'BTV') 1004
('JFK', 'BUF') 2164
('JFK', 'BUR') 289
('JFK', 'BWI') 282
('JFK', 'CHS') 587
('JFK', 'CLE') 280
('JFK', 'CLT') 2272
('JFK', 'CMH') 576
('JFK', 'CVG') 282
('JFK', 'DCA') 1686
('JFK', 'DEN') 579
('JFK', 'DFW') 474
('JFK', 'DTW') 198
('JFK', 'EGE') 85
('JFK', 'FLL') 3258
('JFK', 'HNL') 260
('JFK', 'HOU') 570
('JFK', 'HYA') 75
('JFK', 'IAD') 1604
('JFK', 'IAH') 7
('JFK', 'IND') 278
('JFK', 'JAC') 1
('JFK', 'JAX') 843
('JFK', 'LAS') 3355
('JFK', 'LAX') 10208
('JFK', 'LGB') 526
('JFK', 'MCO') 4467
('JFK', 'MIA') 2750
('JFK', 'MSP') 458
('JFK', 'MSY') 908
('JFK', 'MVY') 159
('JFK', 'OAK') 247
('JFK', 'ORD') 1265
('JFK', 'ORF') 282
('JFK', 'PBI') 1362
('JFK', 'PDX') 725
('JFK', 'PHL') 1
('JFK', 'PHX') 1784
('JFK', 'PIT') 384
('JFK', 'PSE') 289
('JFK', 'PSP') 17
('JFK', 'PWM') 1076
('JFK', 'RDU') 1770
('JFK', 'ROC') 1036
('JFK', 'RSW') 856
('JFK', 'SAN') 1402
('JFK', 'SAT') 242
('JFK', 'SAV') 514
('JFK', 'SEA') 1815
('JFK', 'SFO') 7368
('JFK', 'SJC') 252
('JFK', 'SJU') 4027
('JFK', 'SLC') 1706
('JFK', 'SMF') 246
('JFK', 'SRQ') 370
('JFK', 'STT') 450
('JFK', 'SYR') 937
('JFK', 'TPA') 2019
('LGA', 'AGS') 3
('LGA', 'ATL') 6925
('LGA', 'AVL') 2
('LGA', 'BGR') 274
('LGA', 'BHM') 124
('LGA', 'BNA') 2600
('LGA', 'BOS') 3230
('LGA', 'BTV') 229
('LGA', 'BUF') 169
('LGA', 'BZN') 15
('LGA', 'CAE') 382
('LGA', 'CAK') 708
('LGA', 'CHO') 329
('LGA', 'CHS') 574
('LGA', 'CLE') 2111
('LGA', 'CLT') 3431
('LGA', 'CMH') 1816
('LGA', 'CVG') 78
('LGA', 'DAL') 15
('LGA', 'DAY') 490
('LGA', 'DCA') 3753
('LGA', 'DEN') 2939
('LGA', 'DFW') 3789
('LGA', 'DSM') 1
('LGA', 'DTW') 3663
('LGA', 'EYW') 32
('LGA', 'FLL') 3304
('LGA', 'GRR') 266
('LGA', 'GSO') 868
('LGA', 'GSP') 3
('LGA', 'HOU') 905
('LGA', 'IAD') 1091
('LGA', 'IAH') 2346
('LGA', 'ILM') 223
('LGA', 'IND') 49
('LGA', 'JAX') 67
('LGA', 'LIT') 204
('LGA', 'MCI') 406
('LGA', 'MCO') 3078
('LGA', 'MDW') 1937
('LGA', 'MEM') 3
('LGA', 'MHT') 146
('LGA', 'MIA') 5084
('LGA', 'MKE') 1176
('LGA', 'MSN') 188
('LGA', 'MSP') 2220
('LGA', 'MSY') 738
('LGA', 'MYR') 11
('LGA', 'OMA') 87
('LGA', 'ORD') 7052
('LGA', 'ORF') 1014
('LGA', 'PBI') 2307
('LGA', 'PHL') 702
('LGA', 'PIT') 262
('LGA', 'PWM') 131
('LGA', 'RDU') 2499
('LGA', 'RIC') 1135
('LGA', 'ROA') 125
('LGA', 'ROC') 254
('LGA', 'RSW') 569
('LGA', 'SAV') 368
('LGA', 'SBN') 2
('LGA', 'SDF') 542
('LGA', 'SRQ') 496
('LGA', 'STL') 2065
('LGA', 'SYR') 332
('LGA', 'TPA') 1852
('LGA', 'TVC') 36
('LGA', 'TYS') 167
('LGA', 'XNA') 441

In [41]:
gdf.agg({'year':'count'}).rename(columns={'year':'num'})

              num
origin dest
EWR    ALB    169
       ANC     13
       ATL   4182
       AUS    568
       AVL    145
...           ...
LGA    SYR    332
       TPA   1852
       TVC     36
       TYS    167
       XNA    441

[221 rows x 1 columns]

2. Escribe un programa Pandas para calcula la media, desviación estándar, min y max del retraso total de cada orgige-destino.

In [42]:
df['total_delay'] = df['dep_delay']+df['arr_delay']
gdf = df.groupby(['origin','dest'])
# gdf.first()

agdf = gdf.agg({'total_delay':['mean','std','min','max']})
print(agdf)

#gdf: Imagina que tienes una gran tabla de datos con retrasos de vuelos. Primero, agrupamos esos datos por el lugar de origen y destino de los vuelos, como si hiciéramos diferentes montones con las fichas de cada vuelo según esos dos criterios.

#agg: Luego, para cada montón (grupo) de datos de vuelos, queremos averiguar algunas cosas: el retraso promedio (mean), lo mucho que varían los retrasos (std - desviación estándar), el retraso más pequeño (min) y el retraso más grande (max). Esto lo hacemos con agg.

#agdf: Una vez que hemos calculado esas cosas para todos los montones (grupos), tenemos una nueva tabla que muestra estos resultados. Esa tabla nueva es lo que llamamos agdf.

            total_delay
                   mean         std min   max
origin dest
EWR    ALB    35.230769   92.478247 -36   618
       ANC    15.307692   43.453777 -30   121
       ATL    32.235533  114.946191 -47  2177
       AUS     5.871479   63.006811 -62   539
       AVL    24.903448   82.071727 -33   625
...                 ...         ...  ..   ...
LGA    SYR    23.346386   88.091602 -54   844
       TPA    15.267279   80.570698 -57   964
       TVC    71.500000  183.741200 -41   765
       TYS    17.305389   57.004937 -44   291
       XNA     6.911565   53.977890 -64   320

[221 rows x 4 columns]

3. Escribe un programa Pandas para dividir un conjunto de datos y agruparlos por dos columnas, y luego ordenar los resultados agregados dentro de los grupos.

En el siguiente conjunto de datos de vuelos, agrupar "date" (fecha completa) y "carrier". Luego ordenar la suma de 'total_delay' dentro de los grupos.

In [43]:
df['date'] = pd.to_datetime(df[['year', 'month', 'day']])
# df.info()

gdf = df.groupby(['date', 'carrier']).agg({"total_delay": sum})
gdf["total_delay"].groupby(level=0, group_keys=False).nlargest()

date        carrier
2014-01-01  B6         9383
            UA         5897
            EV         4675
            MQ         3122
            WN         2744
                       ...
2014-10-31  UA         4862
            AA         3090
            VX           14
            HA           -4
            F9          -20
Name: total_delay, Length: 1520, dtype: int64

4. Escribe un programa Pandas para contar el múmero de retrasos de salida por mes y origen.

In [44]:
import pandas as pd

# Supongamos que ya tienes tu DataFrame 'df' con las columnas 'dep_delay', 'origin' y 'month'

# Filtrar sólo los vuelos con retraso de salida
delayed_flights = df[df['dep_delay'] > 0]

# Agrupar por 'month' y 'origin' y contar el número de retrasos
monthly_delays = delayed_flights.groupby(['month', 'origin']).size().reset_index(name='delay_count')

# Mostrar los resultados
print(monthly_delays)

    month origin  delay_count
0       1    EWR         4594
1       1    JFK         3670
2       1    LGA         3261
3       2    EWR         3823
4       2    JFK         3164
5       2    LGA         2590
6       3    EWR         3984
7       3    JFK         2722
8       3    LGA         2851
9       4    EWR         3927
10      4    JFK         2436
11      4    LGA         2671
12      5    EWR         3745
13      5    JFK         3020
14      5    LGA         3102
15      6    EWR         4788
16      6    JFK         3042
17      6    LGA         3375
18      7    EWR         4617
19      7    JFK         3781
20      7    LGA         3192
21      8    EWR         4234
22      8    JFK         3315
23      8    LGA         3046
24      9    EWR         2983
25      9    JFK         2204
26      9    LGA         2160
27     10    EWR         3325
28     10    JFK         2749
29     10    LGA         3058

5. Escribe un programa Pandas para cargar los datos de productos y ventas del archivo FoodMarket.xlsx y mézclalos en un solo dataframe.

In [5]:
!pip install tabulate

Requirement already satisfied: tabulate in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (0.9.0)

In [7]:
import pandas as pd
import os
from tabulate import tabulate

# Verificar si el archivo existe
file_path = 'FoodMarket.xlsx'
if os.path.exists(file_path):
	# Cargar las hojas del archivo Excel
	# Suponemos que las hojas se llaman 'Productos' y 'Ventas'
	Products = pd.read_excel(file_path, sheet_name='Products')
	Purchases = pd.read_excel(file_path, sheet_name='Purchases')

	# Verificar las columnas disponibles
	print(Products.columns)
	print(Purchases.columns)

	# Mezclar los dataframes en base a una columna común (por ejemplo, 'Product')
	# Asegúrate de que ambas tablas tengan una columna que permita relacionarlas
	merged_df = pd.merge(Purchases, Products, left_on='Product', right_on='Product', how='inner')
	# Mostrar el dataframe combinado
	print(merged_df)

	# Guardar el dataframe combinado en un nuevo archivo Excel (opcional)
	merged_df.to_excel('FoodMarket_Merged.xlsx', index=False)
else:
	print(f"El archivo {file_path} no se encuentra en el directorio actual.")

Index(['Product', 'Name.x', 'provider', 'Price'], dtype='object')
Index(['Code', 'Product', 'Seller', 'Buyer', 'Fecha', 'Quantity'], dtype='object')
      Code  Product  Seller  Buyer      Fecha  Quantity              Name.x  \
0        1       15      37     90 2020-11-10        25        Cheese soups
1        2       46      32     51 2020-09-19        16            Pastries
2        3       44      27    166 2019-02-19        25     Moroccan dishes
3        4       52      21     68 2020-06-08        40     Raw fish dishes
4        5       20      21    185 2019-01-18        36               Diets
...    ...      ...     ...    ...        ...       ...                 ...
1496  1497       10      18    199 2020-11-23        34     Breakfast foods
1497  1498       63      58     38 2020-03-13        35               Stews
1498  1499       28       5     81 2020-03-02        31       French dishes
1499  1500       21       2    194 2021-02-18        35  Doughnut varieties
1500  1501       33       8    120 2020-03-13        12       Hors d'oeuvre

      provider      Price
0            1  10.116339
1            2  22.110149
2            2  21.827039
3            3  29.312705
4            1   9.327730
...        ...        ...
1496         1  11.445939
1497         3  29.804814
1498         1  10.879681
1499         1   8.236004
1500         1  11.070380

[1501 rows x 9 columns]

6. Escribe un programa Pandas para extraer información sobre el número de compras totales y el monto total por nombre de producto y año.

In [217]:
#para obtener la vista del precio total deberemos generar una nueva columna de TOTAL PRICE
gdf = df.groupby(['ProductName', df['fecha'].dt.year]
                 ).agg(SumQ=('Quantity',sum), SumTotalPrice=('total-price', lambda x: round(sum(x), 2))
gdf

SyntaxError: '(' was never closed (3436468453.py, line 3)

In [13]:
gdf = merged_df.groupby(['Name.x', 'Fecha'])
gdf.groups

{('American cheeses', 2019-05-26 00:00:00): [102], ('American cheeses', 2019-06-28 00:00:00): [230], ('American cheeses', 2019-07-26 00:00:00): [1210], ('American cheeses', 2019-08-01 00:00:00): [479], ('American cheeses', 2019-09-10 00:00:00): [157], ('American cheeses', 2019-11-08 00:00:00): [232], ('American cheeses', 2020-01-16 00:00:00): [120], ('American cheeses', 2020-02-16 00:00:00): [1395], ('American cheeses', 2020-03-03 00:00:00): [648], ('American cheeses', 2020-05-05 00:00:00): [107], ('American cheeses', 2020-06-03 00:00:00): [721, 1048], ('American cheeses', 2020-06-06 00:00:00): [1394], ('American cheeses', 2020-06-18 00:00:00): [720], ('American cheeses', 2020-07-13 00:00:00): [1114], ('American cheeses', 2020-08-23 00:00:00): [876], ('American cheeses', 2020-09-17 00:00:00): [1387], ('American cheeses', 2020-11-12 00:00:00): [1232], ('American cheeses', 2020-12-05 00:00:00): [1007], ('American cheeses', 2021-04-04 00:00:00): [1417], ('American cheeses', 2021-04-21 00:00:00): [1140], ('American cheeses', 2021-05-01 00:00:00): [258], ('Appellation d'Origine Contrôlée cheeses', 2019-01-05 00:00:00): [841], ('Appellation d'Origine Contrôlée cheeses', 2019-02-19 00:00:00): [904], ('Appellation d'Origine Contrôlée cheeses', 2019-03-15 00:00:00): [643], ('Appellation d'Origine Contrôlée cheeses', 2019-03-18 00:00:00): [440], ('Appellation d'Origine Contrôlée cheeses', 2019-06-07 00:00:00): [750], ('Appellation d'Origine Contrôlée cheeses', 2019-08-07 00:00:00): [1145], ('Appellation d'Origine Contrôlée cheeses', 2019-09-12 00:00:00): [728], ('Appellation d'Origine Contrôlée cheeses', 2019-11-28 00:00:00): [305], ('Appellation d'Origine Contrôlée cheeses', 2020-02-24 00:00:00): [135], ('Appellation d'Origine Contrôlée cheeses', 2020-02-28 00:00:00): [1303], ('Appellation d'Origine Contrôlée cheeses', 2020-04-13 00:00:00): [408], ('Appellation d'Origine Contrôlée cheeses', 2020-08-03 00:00:00): [519], ('Appellation d'Origine Contrôlée cheeses', 2020-10-17 00:00:00): [1055], ('Apple cultivars', 2019-01-30 00:00:00): [301], ('Apple cultivars', 2019-02-03 00:00:00): [1120], ('Apple cultivars', 2019-03-03 00:00:00): [1372], ('Apple cultivars', 2019-03-24 00:00:00): [1401], ('Apple cultivars', 2019-04-03 00:00:00): [1119], ('Apple cultivars', 2019-05-11 00:00:00): [753], ('Apple cultivars', 2019-06-14 00:00:00): [242], ('Apple cultivars', 2019-07-01 00:00:00): [158], ('Apple cultivars', 2019-07-15 00:00:00): [1020], ('Apple cultivars', 2019-08-12 00:00:00): [162], ('Apple cultivars', 2019-09-08 00:00:00): [325], ('Apple cultivars', 2019-10-21 00:00:00): [1426], ('Apple cultivars', 2019-12-13 00:00:00): [966], ('Apple cultivars', 2020-01-01 00:00:00): [644], ('Apple cultivars', 2020-05-21 00:00:00): [1380], ('Apple cultivars', 2020-06-16 00:00:00): [782], ('Apple cultivars', 2020-07-01 00:00:00): [24], ('Apple cultivars', 2020-07-03 00:00:00): [1273], ('Apple cultivars', 2020-08-03 00:00:00): [731], ('Apple cultivars', 2020-08-21 00:00:00): [569], ('Apple cultivars', 2020-09-05 00:00:00): [1265], ('Apple cultivars', 2020-09-10 00:00:00): [923], ('Apple cultivars', 2020-10-29 00:00:00): [969], ('Apple cultivars', 2021-01-21 00:00:00): [1402], ('Apple cultivars', 2021-02-05 00:00:00): [1346], ('Apple cultivars', 2021-03-30 00:00:00): [631], ('Apple cultivars', 2021-04-11 00:00:00): [896], ('Bacon dishes', 2019-02-03 00:00:00): [1090], ('Bacon dishes', 2019-02-24 00:00:00): [850], ('Bacon dishes', 2019-04-27 00:00:00): [552], ('Bacon dishes', 2019-05-06 00:00:00): [457], ('Bacon dishes', 2019-06-15 00:00:00): [1096], ('Bacon dishes', 2019-07-06 00:00:00): [1124], ('Bacon dishes', 2019-07-18 00:00:00): [789], ('Bacon dishes', 2019-09-02 00:00:00): [91], ('Bacon dishes', 2019-10-05 00:00:00): [1427], ('Bacon dishes', 2020-06-20 00:00:00): [1278], ('Bacon dishes', 2020-07-31 00:00:00): [650], ('Bacon dishes', 2020-08-12 00:00:00): [1462], ('Bacon dishes', 2020-08-29 00:00:00): [236], ('Bacon dishes', 2020-10-26 00:00:00): [318, 445], ('Bacon dishes', 2020-11-21 00:00:00): [348], ('Bacon dishes', 2020-12-18 00:00:00): [297], ('Bacon dishes', 2021-02-09 00:00:00): [238], ('Bacon dishes', 2021-03-01 00:00:00): [261], ('Bacon dishes', 2021-03-04 00:00:00): [322], ('Bacon dishes', 2021-03-21 00:00:00): [838], ('Bacon dishes', 2021-04-08 00:00:00): [139], ('Bacon dishes', 2021-04-18 00:00:00): [1461], ('Bacon dishes', 2021-05-02 00:00:00): [264], ('Bacon substitutes', 2019-01-08 00:00:00): [1189], ('Bacon substitutes', 2019-01-20 00:00:00): [725], ('Bacon substitutes', 2019-04-14 00:00:00): [535], ('Bacon substitutes', 2019-04-27 00:00:00): [168], ('Bacon substitutes', 2019-05-06 00:00:00): [480], ('Bacon substitutes', 2019-05-07 00:00:00): [692], ('Bacon substitutes', 2019-05-19 00:00:00): [294], ('Bacon substitutes', 2019-05-31 00:00:00): [160], ('Bacon substitutes', 2019-07-05 00:00:00): [822], ('Bacon substitutes', 2019-07-08 00:00:00): [17], ('Bacon substitutes', 2019-07-20 00:00:00): [372, 385], ('Bacon substitutes', 2019-07-29 00:00:00): [674], ('Bacon substitutes', 2019-08-28 00:00:00): [823], ('Bacon substitutes', 2019-09-10 00:00:00): [1182], ('Bacon substitutes', 2019-09-17 00:00:00): [1015], ('Bacon substitutes', 2019-09-20 00:00:00): [1242], ...}

In [15]:
gdf = merged_df.groupby(['Name.x', merged_df['Fecha'].dt.year]
                ).agg({'Quantity': sum})
gdf

/tmp/ipykernel_17814/3621500457.py:2: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg({'Quantity': sum})

                                               Quantity
Name.x                                  Fecha
American cheeses                        2019        183
                                        2020        384
                                        2021         97
Appellation d'Origine Contrôlée cheeses 2019        241
                                        2020        184
...                                                 ...
Vegetables                              2019        249
                                        2020        108
Vodkas                                  2019        348
                                        2020        187
                                        2021         66

[205 rows x 1 columns]

YO

In [8]:
# Asegúrate de que la columna de fecha esté en formato datetime
merged_df['Fecha'] = pd.to_datetime(merged_df['Fecha'])

In [9]:
# Extraer el año de la fecha
merged_df['year'] = merged_df['Fecha'].dt.year

In [10]:
# Agrupar por 'Name.x' y 'year' para calcular:
# 1. Número total de compras (conteo)
# 2. Monto total de las ventas (suma)
summary = merged_df.groupby(['Name.x', 'year']).agg(
    total_purchases=('Name.x', 'count'),  # Conteo del número de compras
    total_amount=('Price', 'sum')  # Suma del monto de las compras
).reset_index()

In [11]:
# Mostrar el resultado
print(summary)

                                      Name.x  year  total_purchases  \
0                           American cheeses  2019                6
1                           American cheeses  2020               13
2                           American cheeses  2021                3
3    Appellation d'Origine Contrôlée cheeses  2019                8
4    Appellation d'Origine Contrôlée cheeses  2020                5
..                                       ...   ...              ...
200                               Vegetables  2019                7
201                               Vegetables  2020                4
202                                   Vodkas  2019               13
203                                   Vodkas  2020                7
204                                   Vodkas  2021                2

     total_amount
0       53.481556
1      115.876704
2       26.740778
3       85.645240
4       53.528275
..            ...
200    259.493442
201    148.281967
202    525.258332
203    282.831410
204     80.808974

[205 rows x 4 columns]

In [56]:
# Guardar los resultados en un archivo Excel (opcional)
summary.to_excel('Product_Purchase_Summary.xlsx', index=False)

In [57]:
# Mostrar el dataframe combinado
print(merged_df)

# Guardar el dataframe combinado en un nuevo archivo Excel (opcional)
merged_df.to_excel('FoodMarket_Merged.xlsx', index=False)

      Code  Product  Seller  Buyer      Fecha  Quantity              Name.x  \
0        1       15      37     90 2020-11-10        25        Cheese soups
1       79       15      42    205 2020-07-28        26        Cheese soups
2      164       15      55    101 2020-11-11        46        Cheese soups
3      196       15      15    121 2021-03-15        40        Cheese soups
4      291       15      15    174 2019-12-13        45        Cheese soups
...    ...      ...     ...    ...        ...       ...                 ...
1496  1176       21      36     79 2019-11-26        28  Doughnut varieties
1497  1326       21      21    114 2020-09-27        39  Doughnut varieties
1498  1414       21      19     76 2019-03-25        31  Doughnut varieties
1499  1442       21      49     23 2020-04-20        27  Doughnut varieties
1500  1500       21       2    194 2021-02-18        35  Doughnut varieties

      provider      Price  year
0            1  10.116339  2020
1            1  10.116339  2020
2            1  10.116339  2020
3            1  10.116339  2021
4            1  10.116339  2019
...        ...        ...   ...
1496         1   8.236004  2019
1497         1   8.236004  2020
1498         1   8.236004  2019
1499         1   8.236004  2020
1500         1   8.236004  2021

[1501 rows x 10 columns]