In [12]:
import pandas as pd

## Creación de df

In [13]:

# Desde un diccionario
data = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data)

# Crear un archivo CSV de muestra
df.to_csv('archivo.csv', index=False)

# Desde un archivo CSV
df = pd.read_csv('archivo.csv')

# Crear un archivo Excel de muestra
df.to_excel('archivo.xlsx', index=False)

# Desde un archivo Excel
df = pd.read_excel('archivo.xlsx')

## Exploración de datos

In [14]:
# Ver las primeras filas
df.head()

# Ver las últimas filas
df.tail()

# Información del DataFrame
df.info()

# Estadísticas descriptivas
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    2 non-null      int64
 1   col2    2 non-null      int64
dtypes: int64(2)
memory usage: 160.0 bytes

           col1      col2
count  2.000000  2.000000
mean   1.500000  3.500000
std    0.707107  0.707107
min    1.000000  3.000000
25%    1.250000  3.250000
50%    1.500000  3.500000
75%    1.750000  3.750000
max    2.000000  4.000000

## Selección de datos

In [15]:
# Seleccionar una columna
df['col1']

# Seleccionar múltiples columnas
df[['col1', 'col2']]

# Seleccionar filas por etiqueta
df.loc[0]

# Seleccionar filas por posición
df.iloc[0]

# Filtrar filas
df[df['col1'] > 1]

   col1  col2
1     2     4

## Manipulación de datos

In [16]:
# Añadir nueva columna
df['col3'] = df['col1'] + df['col2']

# Eliminar columnas
df.drop('col1', axis=1, inplace=True)

# Renombrar columnas
df.rename(columns={'col1': 'new_col1'}, inplace=True)

## Otros

In [20]:
# Agrupamiento
df.groupby('col1').sum()

# Combinar DataFrames (merge)
df1 = pd.DataFrame({'key': ['A', 'B', 'C'], 'value': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['A', 'B', 'D'], 'value': [4, 5, 6]})
result = pd.merge(df1, df2, on='key')

# Crear un DataFrame con la columna 'value' y 'category' para el pivot
df_pivot = pd.DataFrame({'key': ['A', 'B', 'A', 'B'], 'value': [1, 2, 3, 4], 'category': ['X', 'X', 'Y', 'Y']})

# Pivot
df_pivot.pivot_table(values='value', index='key', columns='category')

# Aplicar una función a una columna
df['col1'].apply(lambda x: x * 2)

0    2
1    4
Name: col1, dtype: int64

## Guardar df

In [21]:
# Guardar en un archivo CSV
df.to_csv('archivo_guardado.csv', index=False)

# Guardar en un archivo Excel
df.to_excel('archivo_guardado.xlsx', index=False)