PANDAS
Definir datos en modo matricial. Compuesto por objetos dataframe bidimensionales. Pero a diferencia de Numpy, va a poder tener datos diferentes. En el caso de los dataframe las columnas si que tiene que tener la misma tipología de datos. Pero las filas no. Los componentes de pandas son las series (columnas) que funcionan como los array.

In [1]:
import pandas as pd

##Series

In [2]:
#crear una serie "series"La serie recibe unos datos. A las series siempre se les asocia un indice y voy a poder acceder a las series a través de los índices

s = pd.Series([1, 2, 3, 4, 5, 6])
s

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [3]:
#generar una serie a partir de un diccionario
s = pd.Series({'math':10, 'lengua':7, 'art':2})
s

math      10
lengua     7
art        2
dtype: int64

In [4]:
#cuando tengo una serie puedo entender sus atributos...
print(s.size)
print(s.index)
print(s.dtype)

3
Index(['math', 'lengua', 'art'], dtype='object')
int64

In [5]:
#acceder a los elemento de una serie a través de su indice
s['math']

10

In [6]:
#acceder a rangos de elementos
print(s['math'])
print(s[1])
print(s[:2])

10
7
math      10
lengua     7
dtype: int64

In [7]:
# acceder a una serie a través de sus indices numericos. 
print(s['math'])
print(s[1])
print(s[:2])
print(s[['lengua', 'art']])

10
7
math      10
lengua     7
dtype: int64
lengua    7
art       2
dtype: int64

In [8]:
s = pd.Series([1, 2, 3, 4, 5, 6])
print(s.count())
print(s.value_counts())
print(s.value_counts(normalize=True))
print(s.min())
print(s.max())
print(s.var())

6
1    1
2    1
3    1
4    1
5    1
6    1
dtype: int64
1    0.166667
2    0.166667
3    0.166667
4    0.166667
5    0.166667
6    0.166667
dtype: float64
1
6
3.5

In [9]:
print(s.describe())

count    6.000000
mean     3.500000
std      1.870829
min      1.000000
25%      2.250000
50%      3.500000
75%      4.750000
max      6.000000
dtype: float64

In [10]:
print(s.sum())

21

OPERACIONES

In [11]:
st = pd.Series(['a','b','c','d'])
st*4

0    aaaa
1    bbbb
2    cccc
3    dddd
dtype: object

In [12]:
import math
import numpy as np
s.apply(math.sqrt)

0    1.000000
1    1.414214
2    1.732051
3    2.000000
4    2.236068
5    2.449490
dtype: float64

In [13]:
st.apply(str.upper)

0    A
1    B
2    C
3    D
dtype: object

In [14]:
s.apply(lambda x: x*2+3)

0     5
1     7
2     9
3    11
4    13
5    15
dtype: int64

###FILTRAR Y ORDENAR

In [15]:
print(s[s>2])

2    3
3    4
4    5
5    6
dtype: int64

In [16]:
s.sort_values()
s.sort_index(ascending=False)

5    6
4    5
3    4
2    3
1    2
0    1
dtype: int64

In [17]:
#definir una serie.
sx = pd.Series(['a', 'b', None, 'c', np.nan, 'd'])
print(sx)

sy = sx.dropna()
print(sy)

0       a
1       b
2    None
3       c
4     NaN
5       d
dtype: object
0    a
1    b
3    c
5    d
dtype: object

In [18]:
help(sx.drop) #eliminar elementos de una serie con unos indices determinados.

Help on method drop in module pandas.core.series:

drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise') -> 'Series' method of pandas.core.series.Series instance
    Return Series with specified index labels removed.

    Remove elements of a Series based on specifying the index labels.
    When using a multi-index, labels on different levels can be removed
    by specifying the level.

    Parameters
    ----------
    labels : single label or list-like
        Index labels to drop.
    axis : 0, default 0
        Redundant for application on Series.
    index : single label or list-like
        Redundant for application on Series, but 'index' can be used instead
        of 'labels'.
    columns : single label or list-like
        No change is made to the Series; use 'index' or 'labels' instead.
    level : int or level name, optional
        For MultiIndex, level for which the labels will be removed.
    inplace : bool, default False
        If True, do operation inplace and return None.
    errors : {'ignore', 'raise'}, default 'raise'
        If 'ignore', suppress error and only existing labels are dropped.

    Returns
    -------
    Series or None
        Series with specified index labels removed or None if ``inplace=True``.

    Raises
    ------
    KeyError
        If none of the labels are found in the index.

    See Also
    --------
    Series.reindex : Return only specified index labels of Series.
    Series.dropna : Return series without null values.
    Series.drop_duplicates : Return Series with duplicate values removed.
    DataFrame.drop : Drop specified labels from rows or columns.

    Examples
    --------
    >>> s = pd.Series(data=np.arange(3), index=['A', 'B', 'C'])
    >>> s
    A  0
    B  1
    C  2
    dtype: int64

    Drop labels B en C

    >>> s.drop(labels=['B', 'C'])
    A  0
    dtype: int64

    Drop 2nd level label in MultiIndex Series

    >>> midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
    ...                              ['speed', 'weight', 'length']],
    ...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
    ...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
    >>> s = pd.Series([45, 200, 1.2, 30, 250, 1.5, 320, 1, 0.3],
    ...               index=midx)
    >>> s
    lama    speed      45.0
            weight    200.0
            length      1.2
    cow     speed      30.0
            weight    250.0
            length      1.5
    falcon  speed     320.0
            weight      1.0
            length      0.3
    dtype: float64

    >>> s.drop(labels='weight', level=1)
    lama    speed      45.0
            length      1.2
    cow     speed      30.0
            length      1.5
    falcon  speed     320.0
            length      0.3
    dtype: float64